<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Editar Cliente</title>
</head>
<body>
<section th:fragment="editarCliente">
    <form th:action="@{/guardar}" th:object="${persona}"
          method="post" class="was-validated">
        <input type="hidden" name="idpersona" th:field="*{idpersona}"/>
        <section th:replace="layout/botonesEditar :: botonesEditar"></section>
        <div id="details">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                                <h4>[[#{accion.editar}]]</h4>
                            </div>
                            <div class="card-body">
                                <div class="mb-3">
                                    <label for="nombre" th:text="#{persona.nombre}" class="form-label">Nombre</label>
                                    <input type="text" class="form-control" name="nombre" required id="nombre" th:field="*{nombre}">
                                </div>
                                <div class="mb-3">
                                    <label for="apellido" th:text="#{persona.apellido}" class="form-label">Apellido</label>
                                    <input type="text" class="form-control" name="apellido" required id="apellido" th:field="*{apellido}">
                                </div>
                                <div class="mb-3">
                                    <label for="email" th:text="#{persona.email}" class="form-label">Email</label>
                                    <input type="email" class="form-control" name="email" required id="email" th:field="*{email}">
                                </div>
                                <div class="mb-3">
                                    <label for="telefono" th:text="#{persona.telefono}" class="form-label">Telefono</label>
                                    <input type="tel" class="form-control" name="telefono" required id="telefono" th:field="*{telefono}">
                                </div>
                                <div class="mb-3">
                                    <label for="saldo" th:text="#{persona.saldo}" class="form-label">Email</label>
                                    <input type="number" class="form-control" name="saldo" required id="saldo" th:field="*{saldo}" step="any">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</form>


</section>
</body>
</html>